.city {
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 0.25em;
  color: #8f9298;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  text-decoration: none;
}

.city__country {
  color: inherit;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 0.25em;
  margin-top: 0;
}

.city__name {
  margin-bottom: 0;
  margin-top: 0.25em;
}
