/* stylelint-disable block-no-empty */

.city {
  background-color: #929fb3;
  border-radius: 1.5em;
  padding: 1em;
}

.city > :first-child {
  margin-top: 0;
}

.city > :last-child {
  margin-bottom: 0;
}

.city--cold {
  background-color: #3f73be;
}

.city--warm {
  background-color: #ec9414;
}

.city__country {
  color: #b6bbc7;
  margin: 0;
}

.city__link {
  display: block;
}

.city__name {
  margin: 0;
}

.city__temp {
}
