* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: Figtree, sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  background: none;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0e2546;
  font-weight: 600;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  margin-block: 0.5em 1.5em;
}

select {
  background-color: #fcfcfc;
  border-radius: 0.25em;
  padding: 1em 1.5em;
}

section {
  padding-block: 2em;
}

table {
  width: 100%;
}

.layout {
  display: flex;
  min-block-size: 100vh;
}
