/* stylelint-disable block-no-empty */

.navigation {
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
}

.navigation__link {
  align-items: center;
  display: flex;
  gap: 0.5em;
  padding: 0.5em 3em;
  position: relative;
  text-decoration: none;
}

.navigation__linkActive::after {
  background-color: currentcolor;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  width: 3px
}