/* stylelint-disable block-no-empty */

.navigation {
  text-transform: uppercase;
}

.navigation__list {
  list-style: none;
  margin-bottom: 1.5em;
  margin-top: 0;
  padding: 0;
}

.navigation__item {
}

.navigation__link {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}
